h3 {
    color: red;
    font-size: 60px !important;
    margin-top: 4vw !important;
    font-weight: 400;
}

img {
    max-width: 200px;
}

h4 {
    color: red;
    font-size: 40px !important;
    margin-top: 3vw !important;
    font-weight: 400;
}

.card {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    color: red;
    text-align: right;
}

.a {
    color: black !important;
}