.avatar {
    margin: 0 auto;
    margin-top: 10em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

p {
    font-size: 20px;
}

.card {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
}

h3 {
    color: red !important;
    text-align: center;
    font-size: 60px !important;
}

.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    margin-bottom: 70px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: red;
}